body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.video-background video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

h1 {
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  color: white;
}

.container {
  position: relative;
  z-index: 1;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.airport-selection {
  margin-bottom: 20px;
}

.airport-selection label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
  
}

.airport-selection-select {
  
  display: block;
  width: 100%; 
  padding: 10px; 
  box-sizing: border-box;
  margin-bottom: 10px; 
  border-radius: 10px;
  background-color: rgb(246, 242, 246);
  border-color: rgb(224, 221, 221);
}

#calculate, .reset {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 0;
}

.result {
  margin-top: 20px;
  font-size: 18px;
}

#calculate:hover, .reset:hover{
  background-color: rgb(205, 149, 205);
  color: azure;
}
#calculate:active, .reset:active{
  background-color: rgb(82, 54, 82)
}